/augment_img_rotate/0
/augment_img_rotate/1
/augment_img_rotate/2
/dataset
/BMP_classification/test/0
/BMP_classification/test/1
/BMP_classification/test/2
/BMP_classification/train/0
/BMP_classification/train/1
/BMP_classification/train/2